<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
</head>
<body>
<h1 style="text-align: center;">Inscription</h1>

<p>&nbsp;</p>

<p>Surname : <input name="surname" type="text" /></p>

<p>Name : <input name="name" type="text" /></p>

<p>Username : <input name="Username" type="text" /></p>

<p>Password :&nbsp; <input name="password" type="password" /></p>

<p>Password(again) : <input name="password2" type="password" /></p>

<p>&nbsp;</p>

<p><input name="comfirm" type="button" value="Comfirm" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input name="back" type="button" value="Back" /></p>

<p>&nbsp;</p>
</body>
</html>
